@font-face {
    font-family: "chakra petch";
    src: url(../Chakra_Petch/ChakraPetch-Regular.ttf);
}

@font-face {
    font-family: "Days one";
    src: url(../Days_One/DaysOne-Regular.ttf);
}

* {
    font-family: "chakra petch", sans-serif;

}



/* navbar-section */
.navbar {
    background-color: #0B0E13;
    border-bottom: 1px solid #1e2939;

}

.navbar-toggler i {
    color: white;
}

a.navbar-brand {
    font-size: 1.25rem;
    font-weight: 700;
    color: #CBFE1C;
}

a.navbar-brand:hover {
    color: #C1FC2F;
}

.nav-link.active {
    color: #CBFE1C !important;
}

.nav-item a {
    color: #f1f1f1 !important;
    transition: all 0.3s;
}

.nav-item a:hover {
    color: #CBFE1C !important;
}

.navbar .btn {
    position: relative;
    overflow: hidden;
    background-color: #CBFE1C;
    font-weight: 700;
    padding: 8px 24px;
    color: #0b0e13;
}

.navbar .btn:hover {
    background-color: #A4CE1A;
}

.navbar .btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    /* background-color: #CBFE1C; */
    transition: all 0.5s;
}

.navbar .btn:hover:after {
    left: 100%;
}

.nav-icon {
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.nav-icon:hover {
    color: #CBFE1C;

}

/* header-section */
header {
    /* height: 100vh; */
    padding-block: 190px 64px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85) 0% 100%), url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.head-text {
    padding-block: 34px;
    text-align: center;
}

.head-text h1 {
    font-family: "Days one", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: #F1F1F1;


    span {
        font-family: "Days one", sans-serif;
        color: #CBFE1C;
    }
}

.head-text p {
    font-size: 0.875rem;
    line-height: 1.2;
    color: #d1d5dc;
}

.head-btn button {
    padding: 16px 32px;
    width: 100%;
    gap: 16px;
}

.head-btn .btn-start {
    background-color: #CBFE1C;
    color: #0B0E13;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}

.head-btn .btn-start:hover {
    background-color: #A4CE1A;
}

.btn-start::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    /* background-color: #CBFE1C; */
    transition: all 0.5s;
}

.btn-start:hover:after {
    left: 100%;
}

.head-btn .btn-watch {
    border: 2px solid #CBFE1C;
    color: #CBFE1C;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;

}

.head-btn .btn-watch:hover {
    background-color: #CBFE1C;
    color: #0b0e13;
}

.head-btn .btn-watch::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    /* background-color: #CBFE1C; */
    transition: all 0.6s;
}

.head-btn .btn-watch:hover:after {
    left: 100%;
}

.head-image {
    padding: 4px;
    background: #05DF72;
    background: linear-gradient(280deg, rgba(5, 223, 114, 1) 0%, rgba(203, 254, 28, 1) 100%);
    border-radius: 16px;
}

.head-image img {
    height: 385px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    margin: 0;
}

.image-badge {
    background-color: #0b0e13;
    border: 1px solid #364153;
    bottom: -5%;
    left: -5%;
}

.badge-content .badge-icon {
    color: #CBFE1C;
    font-size: 20px;
}

.badge-content .badge-text p {
    color: #99a1af;
    font-size: 0.75rem;
    margin-bottom: 4px;
}

.badge-content .badge-text h4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

/* our-games-section */
#our-games {
    padding-block: 96px;
    background-color: #0b0e13;
}

.head-title div span {
    font-size: 1rem;
    font-weight: 700;
    color: #CBFE1C;
    letter-spacing: 0.2rem;
    position: relative;

}

.head-title div span::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    left: -80%;
    top: 45%;
    background: #CBFE1C;
    background: linear-gradient(280deg, rgba(203, 254, 28, 1) 0%, rgba(203, 254, 28, 0) 100%);
}

.head-title div span::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    right: -80%;
    top: 45%;
    background: #CBFE1C;
    background: linear-gradient(90deg, rgba(203, 254, 28, 1) 0%, rgba(203, 254, 28, 0) 100%);
}

.head-title h2 {
    font-size: 1.875rem;
    font-weight: 700;
    color: white;
    font-family: "Days one", sans-serif;

}

/* latest games */
.slide button {
    position: relative !important;
    top: 20%;
    width: fit-content;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: unset !important;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    display: inline-block;

    width: unset !important;
    height: unset !important;
    background-repeat: unset !important;
    background-position: unset !important;
    background-size: unset !important;
    font-size: 20px;
    margin-right: 16px;
}

span.carousel-control-prev-icon:hover {
    color: #CBFE1C !important;
    border-color: #CBFE1C !important;
}

span.carousel-control-next-icon:hover {
    color: #CBFE1C !important;
    border-color: #CBFE1C !important;
}

button.view-btn {
    padding: 16px 32px;
    font-size: 1.125rem;
    font-weight: 700;
    color: #CBFE1C;
    border: 2px solid #CBFE1C;
    border-radius: 8px;
    transition: all 0.3s;
}

button.view-btn:hover {
    background-color: #CBFE1C;
    color: #0B0E13;

}

.game {
    position: relative;

    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    border: 2px solid transparent;
}

.game img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    position: relative;

    transition: all 0.5s;

}

.game::after {
    content: "";
    width: 100%;
    height: 70%;
    position: absolute;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    bottom: -100%;

    left: 0;
    background: #CBFE1C;
    background: linear-gradient(1deg, rgba(203, 254, 28, 1) 0%, rgba(203, 254, 28, 0) 100%);
    transition: all 0.5s;
}

.game .top {
    position: absolute;
    top: -10%;
    left: 5%;
    transition: all 0.5s;
}

.top-1,
.top-2 {
    padding: 4px 12px;
    color: #f1f1f1;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 10px;

}

.top i {
    color: #CBFE1C;
    font-size: 10px;
    margin-right: 5px;
}

.bottom-1 {
    position: absolute;
    bottom: -10%;
    left: 5%;
    font-weight: 700;
    font-size: 1.125rem;
    color: #0b0e13;
    z-index: 2;
    transition: all 0.5s;
}

.game:hover .top {
    top: 5%;
    left: 5%;
}

.game:hover .bottom-1 {
    bottom: 10%;
    left: 5%;
}

.game:hover:after {
    bottom: 0;
    left: 0;
}

.game:hover img {
    transform: scale(108%);
}

.game:hover {
    border-color: #CBFE1C;

}

/* more-games-section */

#more-games {
    padding-block: 96px 64px;
}

#more-games .head-title h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;

    span {
        color: #CBFE1C;
    }
}

.game-item {
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #1e2939;
    background-color: #1a1a1a;
    overflow: hidden;
    transition: all 0.5s;

}

.type-icon {
    width: 42px;
    height: 42px;
    margin-bottom: 8px;
    background-color: #1e2939;
    border-radius: 8px;
    font-size: 14px;
    color: #CBFE1C;
    transition: all 0.5s;
}

.game-type {
    width: 190px;
    height: 208px;
}

.game-item h4 {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    font-family: "Days one", sans-serif;

}

.top-corner {
    position: absolute;
    width: 0;
    height: 0;
    left: -10%;
    top: -10%;
    transition: all 0.5s;
    border-right: transparent 24px solid;
    border-top: #CBFE1C 24px solid;
    background-color: transparent;

}

.bottom-corner {
    position: absolute;
    width: 0;
    height: 0;
    right: -10%;
    bottom: -10%;
    transition: all 0.5s;
    border-left: transparent 24px solid;
    border-bottom: #CBFE1C 24px solid;
    background-color: transparent;
}

.game-item:hover .top-corner {
    left: 5%;
    top: 5%;
}

.game-item:hover .bottom-corner {
    right: 5%;
    bottom: 5%;
}

.game-item:hover .type-icon {
    background-color: #CBFE1C;
    color: #0B0E13;
}

.game-item:hover {
    border-color: #CBFE1C;
}

.game-img {
    padding: 0;
}

.game-item img {
    width: 100%;
    height: 228px;
    object-fit: cover;

}

.gradiant-line {
    height: 3px;
    width: 100%;
    background: #CBFE1C;
    background: linear-gradient(269deg, rgba(203, 254, 28, 0) 8%, rgba(203, 254, 28, 1) 12%, rgba(203, 254, 28, 1) 86%, rgba(203, 254, 28, 0) 90%);
    box-shadow: 0 0 10px #CBFE1C, 0 0 20px #cbfe1c4d;
    margin-bottom: 16px;
}

/* sponsores-section */
#sponsores {
    padding-block: 80px;
    background-image: radial-gradient(#CBFE1C, rgba(203, 254, 28, 0.05), rgba(13, 15, 5, 0));


}

.inner img {
    width: 85px;
    height: 85px;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes move-2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes move-3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-4 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}




.logo-move {
    animation-name: move;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.row-2 {
    left: 0;
    top: 0;
    animation-name: move-2;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.background-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #06193A;
    background: linear-gradient(270deg, rgba(6, 25, 58, 1) 0%, rgba(117, 222, 127, 0) 7%, rgba(132, 206, 177, 0) 93%, rgba(6, 25, 58, 1) 100%);
}

.second-logos .logo-move {
    animation-name: move-3;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.second-logos .row-2 {
    right: 0;
    top: 0;
    animation-name: move-4;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* our-team-section */
#our-team {
    padding-block: 96px;
    background-color: #0B0E13;
}

.team-title p {
    font-size: 1.25rem;
    color: #99a1af;
}

.member {
    /* width: 285px; */
    position: relative;
}

.member::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: sepia(60%) brightness(90%) grayscale(90%);
    transition: all 0.9s;
}

.member:hover:after {
    top: -100%;
}

.member img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 16px;
}

.member-info h3 {
    font-family: "Days one", sans-serif;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.member-info .kind {
    font-size: 0.875rem;
    color: #CBFE1C;
    margin-bottom: 2px;
}

.member-info .titles {
    font-size: 0.75rem;
    color: #99a1af;
    margin-bottom: 2px;
}

.member-info {
    position: absolute;
    bottom: 6%;
    left: 14%;

}

.member h4 {
    font-weight: 700;
    font-size: 1.125rem;
    color: #CBFE1C;
    transform: rotate(90deg);
    position: absolute;
    right: 2%;
    bottom: 18%;
    margin: 0;

}

/* get-in-touch-section */
#get-in-touch {
    padding-block: 96px;
    background-color: #0F1624;
}

.contact-item {
    padding: 32px;
    background-color: #1E2939;
    margin-bottom: 32px;

}



.contact-icon {
    width: 64px;
    height: 64px;
    background-color: #CBFE1C;
    color: #0B0E13;
    font-size: 24px;
}

.contact-info h3 {
    font-family: "Days one", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    margin-bottom: 2px;

}

.contact-info p {
    color: #99a1af;
    margin: 0;
}

.join-content h3 {
    font-family: "Days one", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0B0E13;
    margin-bottom: 16px;
}

.join {
    padding: 32px;
    background: #C1FC2F;
    background: linear-gradient(90deg, rgba(193, 252, 47, 1) 0%, rgba(60, 226, 110, 1) 100%);
}

.social-icons div {
    width: 48px;
    height: 48px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #0B0E13;
    color: #CBFE1C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    transition: all 0.3s;
    cursor: pointer;
}

.social-icons div:hover {
    background-color: #2F3D19;
}

/* form-section */
.form-content {
    padding: 32px;
    background-color: #1E2939;

}

.form-content h3 {
    font-family: "Days one", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 24px;
}

.form-content label {
    color: white;
}

.form-content .form-control,
.form-content textarea {
    padding: 12px 16px;
    background-color: #364153;
    border: 1px solid #4a5565;


    &::placeholder {
        color: #91969F;
    }
}

.form-control:focus {
    padding: 12px 16px !important;
    background-color: #364153 !important;
    border: 1px solid #4a5565 !important;
    box-shadow: 0 0 0 0.1rem #CBFE1C !important;
    border-color: #CBFE1C !important;
    outline-color: #CBFE1C !important;
    color: white !important;

    &::placeholder {
        color: #91969F !important;
    }
}

.form-content select {
    padding: 12px 16px;
    background-color: #364153;
    border: 1px solid #4a5565;
    color: white;
}

.form-select:focus {
    padding: 12px 16px !important;
    background-color: #364153 !important;
    border: 1px solid #4a5565 !important;
    box-shadow: 0 0 0 0.1rem #CBFE1C !important;
    border-color: #CBFE1C !important;
    outline-color: #CBFE1C !important;
    color: white !important;
}

textarea {
    resize: none !important;
}


.form-check-input {
    width: 20px !important;
    height: 20px !important;
    background-color: white !important;
    border-radius: 4px !important;
    border-color: #4a5565 !important;
    color: #CBFE1C !important;

}

.form-check-input:checked {
    background-color: #225780 !important;
    box-shadow: 0 0 0 0.1rem #CBFE1C !important;
}

.form-check-input:focus {
    background-color: #225780 !important;
    box-shadow: 0 0 0 0.1rem #CBFE1C !important;
}

.form-check-label {
    color: #99a1af !important;
    font-size: 0.875rem !important;
}

button.send-btn {
    padding: 16px 24px;
    background-color: #CBFE1C;
    color: #0B0E13;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 700;
}

.form-content .btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    /* background-color: #CBFE1C; */
    transition: all 0.5s;
}

.form-content .btn:hover {
    background-color: #A4CE1A;
}

.form-content .btn:hover:after {
    left: 100%;
}

.form-foot {
    margin-top: 32px !important;
    padding-top: 32px;
    border-top: 1px solid #364153;
}

.form-foot h4 {
    color: #CBFE1C;
    font-size: 1.5rem;
    font-weight: 700;

}

.form-foot p {
    color: #99a1af;
    font-size: 0.875rem;
}

/* footer-section */
#foot-section {
    padding-block: 64px;
    border-color: #99a1af;
}

.games-logo h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #CBFE1C;
    margin: 0;
}

.games-logo i {
    font-size: 1.25rem;
    font-weight: 700;
    color: #CBFE1C;
    margin-right: 8px;
}

.games-arena p {
    color: #99a1af;
}

ul {
    list-style: none;
    padding: 0 !important;
}

.social-footer li {
    font-size: 20px;
    color: #99a1af;
    margin-right: 16px;
}

.social-footer a {
    color: #99a1af;
}

.social-footer a:hover {
    color: #CBFE1C;
}

.support h3 {
    font-size: 1.25rem;
    font-family: "Days one", sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 24px;
}

.support li {
    color: #99a1af;
    margin-bottom: 12px;
    cursor: pointer;
}

.support li:hover {
    color: #CBFE1C;
}

.help-center {
    padding-top: 32px;
    color: #99a1af;
    border-top: 1px solid #364153;
}

.help-links li {
    margin-right: 24px;
    cursor: pointer;
}

.help-links li:hover {
    color: #CBFE1C;

}
